
html {box-sizing: inherit;
      background-color: #f2e6ff;
}

/*.players {
  box-sizing: border-box;
  display: block;
  width: 50%;
  position: relative;
}*/

.player1 {
  float: left;
  padding: 0px, 5px, 5px, 30px;
  border: 4px, #6600cc;
  margin: 0px, 5px, 5px, 30px;
  box-sizing: border-box;
  display: block;

}

.player2 {
  float: right;
  padding: 0px, 5px, 5px, 30px;
  border: 4px, #6600cc;
  margin: 5px, 5px, 30px, 5px;
  box-sizing: border-box;
  display: block;

}

h1 { color: #6600cc;
    text-align: center;
}

h3 { text-align: center;
}
